.main {
  width: 100%;
  height: 100vh;
  padding: 42px 42px 42px 154px;

  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4.125rem;

    .header__buttons {
      display: flex;
      align-self: flex-end;
      gap: 12px;
      align-items: center;

      .header__buttonCelsius {
        width: 40px;
        height: 40px;
        background: #e7e7eb;
        border-radius: 54px;

        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #110e3c;
      }

      .header__buttonFahrenheit {
        width: 40px;
        height: 40px;
        background: #585676;
        border-radius: 54px;

        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #e7e7eb;
      }
    }

    .header__cards {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 26px;
    }
  }

  &__highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 72px;

    h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: #e7e7eb;
      align-self: flex-start;
    }
  }
}
