.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 120px;
  height: 177px;
  background: #1e213a;
  padding: 18px 15px;

  position: relative;

  &__day {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1875rem;
    text-align: center;
    color: #e7e7eb;
    margin-bottom: 9px;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  img {
    width: 53.56px;
    margin-bottom: 2rem;
  }

  &__text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    padding: 18px 15px;

    p {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.1875rem;

      &:first-child {
        color: #e7e7eb;
      }

      &:last-child {
        color: #a09fb1;
      }
    }
  }
}
