:root {
  /* Colors */

  --color-gray: #6e707a;
  --color-gray-2: #88869d;
  --color-gray-3: #a09fb1;
  --color-gray-4: #585676;
  --color-blue: #3c47e9;
  --color-blue-2: #1e213a;
  --color-blue-3: #100e1d;
  --color-blue-4: #110e3c;
  --color-yellow: #ffec65;
  --color-light: #e7e7eb;

  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background: var(--color-blue-3);
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #282b4d;
  border-radius: 5px;
}
